<h1>Edit vehicle</h1>

<form id="edit-vehicle" name="vehicle">
  <div class="field">
    <label for="passenger_space"> Passenger space:</label><br/>
    <input type="text" name="passenger_space" id="passenger_space" value="<%= passenger_space %>" >
  </div>

  <div class="field">
    <label for="rego"> rego:</label><br/>
    <input type="text" name="rego" id="rego" value="<%= rego %>" >
  </div>

  <div class="field">
    <label for="colour"> colour:</label><br/>
    <input type="color" name="colour" id="colour" value="<%= colour %>" >
  </div>

  <div class="field">
    <label for="child_seat"> child_seat:</label><br/>
    <input type="checkbox" name="child_seat" id="child_seat" value="true" <%= child_seat?"checked":"" %> >
  </div>

  <div class="field">
    <label for="boot"> boot:</label><br/>
    <input type="text" name="boot" id="boot" value="<%= boot %>" >
  </div>

<!--  <div class="field">
    <label for="model_id"> model_id:</label><br/>
    <input type="text" name="model_id" id="model_id" value="<%= model_id %>" >
  </div> -->

  <div class="actions">
    <input type="submit" value="Update Vehicle" />
  </div>

</form>

<a href="#/index">Back</a>
