<h1>New vehicle</h1>

<form id="new-vehicle" name="vehicle">
<table>
<!--  <div class="field">
    <label for="user_id"> user_id:</label>
    <input type="text" name="user_id" id="user_id" value="<%= user_id %>" >
  </div>
--!>

  <tr class="field">
    <td><label class="field_label" for="rego"> Rego:</label></td>
    <td><input type="text" name="rego" id="rego" value="<%= rego %>" ></td>
  </tr>

  <tr class="field">
    <td><label for="passenger_space"> Passenger Space:</label></td>
    <td><input type="number" name="passenger_space" id="passenger_space" value="<%= passenger_space %>" ></td>
  </tr>

  <tr class="field">
    <td><label for="colour"> Colour:</label>
    <td><input type="text" name="colour" id="colour" value="<%= colour %>" ></td>
  </tr>

  <tr class="field">
    <td><label for="child_seat"> Child Seat:</label>
    <td><input type="checkbox" name="child_seat" id="child_seat" value="true" <%= child_seat?"checked":"" %> ></td>
  </tr>

  <tr class="field">
    <td><label for="boot"> boot:</label>
    <td><input type="text" name="boot" id="boot" value="<%= boot %>" ></td>
  </tr>

<!--  <div class="field">
    <label for="model_id"> model_id:</label>
    <input type="text" name="model_id" id="model_id" value="<%= model_id %>" >
  </div> -->

  <tr class="actions">
    <td></td>
    <td><input type="submit" value="Create Vehicle" /></td>
  </tr>

</table>
</form>
<a href="#/index">Back</a>
