<section id="vehicle-<%= id %>">

<div id="numberplate" class="grid_3 clearfix">
  <%= rego %>
</div>
<p>
  <b>Colour:</b>
  <%= colour %>
</p>

<p>
  <b>Passenger Space:</b>
  <%= passenger_space %>
</p>

<p>
  <b>Child Seat:</b>
  <%= child_seat %>
</p>

<p>
  <b>Boot Space:</b>
  <%= boot %>
</p>

<a href="#/<%= id %>/edit">Edit</a>
<a href="#/index">Back</a>

</section>
