<td><%= rego %></td>
<td><%= colour %></td>
<td><%= passenger_space %></td>
<td><%= child_seat %></td>
<td><%= boot %></td>
<td><%= model_id %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>
